{% extends 'tweets/base.html' %}
{% load tweets.superlative %}
{% block headerjs %}
{% endblock %}

{% block content %}
<section class="introduction">
<h4>From Wikipedia</h4>

    <p>The Waffle House Index is an informal metric used by the Federal Emergency Management Agency (FEMA) to determine
    the effect of a storm and the likely scale of assistance required for disaster recovery.
        <sup>[<a href="#cite_note-1">1</a>]</sup> "If you get there
    and the Waffle House is closed? That's really bad. That's when you go to work."<sup>[<a href="#cite_note-WSJ-2">2
        </a>]</sup> The Waffle House Index has not
    seen wide use outside of its value as a novel statistic.</p>
    <p>This project explores novel approaches to identifying Waffle house behavior through live data mining and
        sentiment
    analysis. The bot scrapes Twitter every 15 minutes for mentions for Waffle House up to the Twitter rate limit for
    free
    searches. Each Tweet is then run through a naive Bayes classifier trained on movie review and twitter data sets by
    <a href="http://www.cs.cornell.edu/people/pabo/movie-review-data/"> Bo Pang and Lillian Lee of Cornell
    University</a>. Each Tweet is rated for positivity, negativity, and neutrality. Positive and negative sentiment
     represent positive and negative emotional affect and will always add up to one. Neutrality is indepdendt from the
        positive-negaitve
    axis, and it represents the intensity of sentiment in a given text. Tweets such as "At @WaffleHouse" show high
        neutrality
    scores. Values shown are the arithmetic mean by day. All sentiment analysis is done on the text of the tweet,
        with no
    additional consideration given for other Tweet specific variables like number of followers, retweets,
        verified accounts, etc.
    This project contains live Twitter data which may contain inappropriate or problematic language.</p>
    <p>This data is not intended for emergency management use.</p>


References
<ul>
    <li id="cite_note-1">McKenna, Maryn (6 December 2016). <a rel="nofollow" href="https://fivethirtyeight.com/features/if-waffle-house-is-closed-its-time-to-panic/">"If Waffle House Is Closed, It's Time To Panic"</a>. <i>FiveThirtyEight</i>. Retrieved 30 November 2017.</li>
    <li id="cite_note-WSJ-2"><a rel="nofollow" href="https://www.wsj.com/articles/SB10001424053111904716604576542460736605364">"How to Measure a Storm's Fury One Breakfast at a Time"</a>. <i>Wall Street Journal</i>. September 1, 2011.</li>
</ul>
</section>

<section class="data">
    <h4>Waffle House Index v.2</h4>

    <div class="chart_box">
    <div id="curve_chart"></div> <!-- This is the primary target for the Google Visualization API -->

    <input type="button" id="LineChart" name="LineChart" value="Line Chart">
    <input type="button" id="BarChart" name="BarChart" value="Bar Chart">
</div>


<div class="superlatives">  <!-- Format: top3 'Model attribute' 'Displayed title' -->
    {% top3 'pos' 'Positive' %}
    <hr>
    {% top3 'neg' 'Negative' %}
    <hr>
    {% top3 'neutral' 'Neutral' %}
</div>

</section>

{% endblock %}

{% block js %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">

        function drawChart() {
            var tableHeader = [['Day', 'Positive', 'Negative', 'Neutral']]; // Title Header for Google Vis. API

            var tableScores = [ // TODO: Rewrite to populate array from JSON in context instead of templated raw JS
                // or map a JS Date object creation to the zero index of a passed array(list).
                // Format: [Date object, Positive Score, Negative Score, Neutral Score]
                {% for k, v in tweets_by_day.items %}
                    [new Date({{ v.year }}, {{ v.month }}, {{ v.day }}), {{ v.pos}}, {{ v.neg }}, {{ v.neutral }}],
                {% endfor %}
                {#       {% for i in tweets_by_day %}#}
                {#       {{ i|safe }},#}
                {#       {% endfor %}#}
            ];

            tableScores.sort(function (date1, date2) { //Simple chronological sort
                if (date1[0] > date2[0]) return 1;
                if (date1[0] < date2[0]) return -1;
                return 0;
            });

            var tableData = tableHeader.concat(tableScores);

            var data = google.visualization.arrayToDataTable(tableData);

            var options = {
                title: 'Waffle House Twitter Sentiment',
                curveType: 'function',
                legend: {position: 'bottom'},
                isStacked: true
            };

            DrawLineChart(); //Initial Line Chart

            // Chart change listeners

            document.getElementById('BarChart').addEventListener("click", DrawBarChart);
            document.getElementById('LineChart').addEventListener("click", DrawLineChart);

             function DrawLineChart () {
               var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
               chart.draw(data, options);
            }

            function DrawBarChart () {
                var chart = new google.visualization.BarChart(document.getElementById('curve_chart'));
                chart.draw(data, options);
            }
        }
    </script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
    </script>


{% endblock %}