.idea/
db.sqlite3
automatic-waffle/capstone/__pycache__/
automatic-waffle/tweets/__pycache__/
.idea/workspace.xml




# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


/automatic-waffle/tweets/config.py
/automatic-waffle/tweets/management/commands/createsu.py
