.banner {
    background: #1e90ff;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.chart_box {
    display: inline;
    background: #08ff0d
}

.superlatives {
    display: inline;
}