container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python automatic-waffle/manage.py migrate --noinput"
    leader_only: true
#//  02_createsu:
#//    command: "source /opt/python/run/venv/bin/activate && python automatic-waffle/manage.py createsu"
#//    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python automatic-waffle/manage.py collectstatic --noinput"

packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []