option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "capstone.settings"
    "PYTHONPATH": "./automatic-waffle"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: automatic-waffle/capstone/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
