{% extends 'tweets/base.html' %}

{% block headerjs %}
{% endblock %}

{% block content %}
    <h1>Success</h1>
    <h2>Template</h2>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>

{#    {% for i in tweets %}#}
{#        <p>{{ i }}</p>#}
{#        <hr>#}
{#        <p>Created at: {{ i.created_at }}</p>#}
{#        <p>Username: {{ i.username}}</p>#}
{#        <p>Tweet_id: {{ i.tweet_id }}</p>#}
{#        <p>Text: {{ i.text }}</p>#}
{#        <hr>#}
{#    {% endfor %}#}
{% endblock %}

{% block js %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script>
function drawChart() {
   var tableData = [
{#          ['Day', 'Positive', 'Negative', 'Neutral'],#}
{#       {% for k, v in tweets_by_day.items %}#}
{#       ['{{ k }}', {{ v.pos}}, {{ v.neg }}, {{ v.neutral }}],#}
{#       {% endfor %}#}
       {% for i in tweets_by_day %}
       {{ i|safe }},
       {% endfor %}
   ];


    var data = google.visualization.arrayToDataTable(tableData);

        var options = {
          title: 'Waffle House Twitter Sentiment',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
</script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);
</script>


{% endblock %}