body {
    margin: 0;
    padding: 0;
}


.banner {
    background: #1e90ff;
    height: 120px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;

}

.banner-text {
    padding-top: 0;
    margin-top: 0;
    vertical-align: middle;
    line-height: 100px;
}

.introduction {
    padding: 10px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 1.2em;
    width: 900px;
    margin: 0 auto;
}
.data {
    padding: 10px;


}
.chart_box {
    padding: 10px;
    background: #ffffff;
    margin: 0 auto;
    width: 900px;


}

.superlatives {
    padding: 10px;
    background: #ffffff;
    width: 900px;
    margin: 0 auto;
    line-height: 130%;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;

}

#curve_chart {

}

#curve_chart {
    width: 900px;
    height: 500px;
}

.superlatives-title {
    background: #1e90ff;
    border-radius: 15px;
    border: solid #1e90ff 10px;
}

.footer {
    width: 900px;
    margin: 0 auto;
}